<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links cgu">
    <p>CGU</p>
    <p>CGV</p>
    <p>Mentions légales</p>
    <p>Plan du site</p>
    <p>FAQ</p>
  </div>
  <div class="footer-links cgu">
  <p>Nous contacter</p>
  <p><i class="fa fa-phone pr-1" aria-hidden="true"></i> 06 70 25 63 58</p>
  <p><i class="fa fa-envelope pr-1" aria-hidden="true"></i> Zootopia@contact.com</p>
  <p><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> 1683  Davisson Street</p>
</div>
</div>
