

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src=<%=@animal.photo_url%> class="card-img" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
      <h1 class="card-title"><%= @animal.name %></h1>
        <p class="card-text"><%=@animal.description%></p>
        <%=link_to "Reserve", new_animal_booking_path(@animal) %>
      </div>
    </div>
  </div>
</div>

