.banner {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 195px;
  }
  
  #main-h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-size: 48px;
    font-weight: bold;
  }
  
#main-p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

.search button{
  border-radius: 50%;
  border: none;
  height: 40px;
  position: absolute;
  right: 7px;
  
}


.search input{
  border-radius: 20px;;
  border: none;
  height: 40px;
}

.banner-show{
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 50px;
}